<a href="https://colab.research.google.com/github/swarnava-96/Data-Structures-Algorithms/blob/main/1_DSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Let us say your expense for every month are listed below,
1. January - 2200
2. February - 2350
3. March - 2600
4. April - 2130
5. May - 2190

Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [1]:
# Expenses
expenses = [2200,2350,2600,2130,2190]

In [4]:
# In Feb, how many dollars you spent extra compare to January?
print("In Feb {} extra was spent compared to Jan".format(expenses[1] - expenses[0]))

In Feb 150 extra was spent compared to Jan

In [6]:
# Find out your total expense in first quarter (first three months) of the year.
print("Expense for the first quarter is {}".format(expenses[0] + expenses[1] + expenses[2]))

Expense for the first quarter is 7150

In [7]:
# Find out if you spent exactly 2000 dollars in any month
print("Did I spend $2000 in any month?",2000 in expenses)

Did I spend $2000 in any month? False

In [9]:
# June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
expenses.append(1980)
print("Expenses at the end of June is ",expenses)

Expenses at the end of June is  [2200, 2350, 2600, 2130, 2190, 1980, 1980]

In [10]:
# You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this
expenses[3] = expenses[3] - 200
print("My updated expenses are",expenses)

My updated expenses are [2200, 2350, 2600, 1930, 2190, 1980, 1980]

Q2. You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']
Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [11]:
# Creating the list
heros = ['spider man','thor','hulk','iron man','captain america']

In [12]:
# Length of the list
print(len(heros))

5

In [13]:
# Add 'black panther' at the end of this list
heros.append("black panther")
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [14]:
# You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'
heros.remove("black panther")
heros.insert(3, "black panther")
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [16]:
# Now you don't like thor and hulk because they get angry easily :) So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool). Do that with one line of code.
heros[1:3] = ["doctor strange"]
print(heros)

['spider man', 'doctor strange', 'iron man', 'captain america']

In [17]:
# Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)
heros.sort()
print(heros)

['captain america', 'doctor strange', 'iron man', 'spider man']

Q3. Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [18]:
max = int(input("Enter maximum number: "))

odd_numbers = []

for i in range(1,max):
  if i%2 == 1:
    odd_numbers.append(i)

print("Odd Numbers: ",odd_numbers)

Enter maximum number: 50
Odd Numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]